html
  head
  body
  div(style='background-color:#6e6f7a')
    .m_4257413940971320358block-grid(style='Margin:0 auto;min-width:320px;max-width:500px;width:500px;width:calc(19000% - 98300px);word-wrap:break-word;word-break:break-word;background-color:transparent')
      div(style='border-collapse:collapse;display:table;width:100%')
        .m_4257413940971320358col.m_4257413940971320358num12(style='min-width:320px;max-width:500px;width:500px;width:calc(18000% - 89500px);background-color:transparent')
          div(style='background-color:transparent;width:100%!important')
            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:0px;padding-left:0px')
              div(style="font-size:16px;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:center")
                div(style='background-color:white;padding:25px 50px 50px 50px')
                  div.im
                    p(style='color:black;font-size:23px;text-align:center') MAIL APP NOTIFICATION
                    p(style='color:black;font-size:20px;text-align:center') PRICE REQUEST
                    div(style='color:green')
                      hr(style='border:0;height:1px;background:#999999')
                    each val, key in formData
                      p(style='color:black;font-size:16px;text-align:left')
                        b(style="text-transform:capitalize;width:125px;display:block;padding-bottom:8px;") #{ key }:
                        span(style="padding:8px;background-color:#efefef;display:inline-block;border-radius:5px;") #{ val }
                  div.im
                    hr(style='border:0;height:1px;background:#999999')
